*{
   margin:0;
   padding:0;
   /*font-family:sans-serif;*/
   /*font-family: 'Allerta Stencil', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Krona One', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Spectral', serif;
   */
   
   font-family: 'Krona One', sans-serif;

}
.main{
   height:100vh;
   background-image:linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)),url(../img/bg2.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   overflow-x: hidden;
   position: relative;
}
.nav-bar{
   display:flex;
   padding:40px 120px;
}
.nav-logo img{
   width:130px;
   height: 50px;
}
.nav-links{
   flex:1;
}
.nav-links ul{
   margin-left: 50px;
   display:inline;
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 25px;
}
.nav-links ul a{
   color:#FFF;
   text-decoration: none;
   font-size: 15px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   text-shadow: 
   0px 4px 3px rgb(0,0,0,0.4)
   0px 8px 13px rgb(0,0,0,0.1),
   0px 18px 23px rgb(0,0,0,0.1);
   font-weight:500;
}
.nav-links ul li::after{
   content: '';
   width:0;
   height: 2px;
   background: yellow;
   display: block;
   margin:auto;
   transition: .5s;
}
.nav-links ul li:hover::after{
   width:100%;
}
.btn{
   font-family: 'Allerta Stencil', sans-serif;
   padding:10px 20px;
   border: 0;
   background: yellow;
   font-weight: bold;
   cursor: pointer;
}
.nav-links .btn{
   float: right;
}
.banner-title{
   margin:80px 130px;
   color:#fff;
}
.banner-title h1{
   font-family: 'Old Standard TT', serif;
   font-size: 64px;
   padding: 30px;
   margin-bottom: 30px;
   letter-spacing: 0.02em
}
.banner-title span{
   font-family: 'IBM Plex Serif', serif;
   color:yellow;
}
.vertical-bar{
   height: 100%;
   background: #000;
   top:0;
   left:0;
   position:absolute;
}
.search-icon{
   height: 60%;
   width: 80px;
}
.search-icon .fa{
   margin: 45px 23px;
   display: block;
   color:#fff;
   box-shadow: 3px 10px 10px rgb(0,0,0,0.1);
   font-size: 25px;
   cursor: pointer;
}
.social-icon{
   height: 35%;
   width: 80px;
   /*background:linear-gradient(315deg, #ffffff, #d7e1ec);*/
   background: yellow;
   text-align: center;
   padding-top: 27%;
   bottom: 0;
   position: absolute;
}
.social-icon .fa{
   margin: 25px 23px 40px;
   display: block;
   padding: 8px;
   background: #fff;
   border-radius: 50%;
   cursor: pointer;
   box-shadow: 0 10px 10px rgb(0,0,0,0.1);
}
.notification{
   display:flex;
   width:400px;
   right: 0;
   bottom: 0;
   position: absolute;
   background:yellow;
   align-items: center;
   /*box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;*/
   box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);   
}
.contents{
   font-family: 'Spectral', serif;
   flex-basis: 50%;
   padding:10px;
}
.notification-img{
   flex-basis: 50%;
   box-sizing: border-box;
}
.notification-img img{
   width: 100%;
   display: block;
}
.contents a{
   text-decoration: none;
   color: #000;
   font-size: 13px;
   margin: 0 10px;
}
.contents p{
   text-align: right;
   box-sizing: content-box;
   margin-top: 15px;
}
.nav-bar .fa{
   display:none;
}
@media (max-width:769px){
   
 .nav-bar{  
   padding:10px 15px;  
 }
 .nav-links ul{
   margin-left: 20px;
   display:inline;
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 4px 20px;
}
.nav-links ul a{
   color:#fff;
   text-decoration: none;
   font-size: 15px;
}
  
 .nav-logo img{
    margin-left:80px;
   width:120px;
   height: 50px;
}

}
@media(max-width:700px){
   .vertical-bar{
      display: none;
   }
   .banner-title{
      margin: 80px 40px;
   }
   .banner-title h1{
      font-size: 50px;
   }
   .notification{
      width: 100%;
   }
   .nav-bar{
      padding:10px 30px;     
   }
   .fa-bars{
      position: absolute;
      right:20px;
      top:10px;
   }
   .nav-bar .fa{
      display: block;
      color: #fff;
      margin: 10px 25px;
      font-size:22px;
      cursor: pointer;
   }
   .nav-links{
      height: 100vh;
      width:200px;
      background: #000;
      top: 0;
      right: -200px;
      position: absolute;
      text-align: left;
      z-index:2;
      transition: 0.5s;
   }
   .nav-links ul a{
      padding:10px 15px;
      display:block;
   }
   .nav-links .btn{
      float: none;
      margin-left: 25px;
      margin-top: 10px;
   }
}